* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mask {
  padding: 25px 4vw 0vw 4vw;
}
.mask-content {
  padding: 140px 20vw 140px 20vw;
}
.mask-header-first img {
  border-radius: 50%;
  width: 35px;
}

.mask-hr {
  border: 1px solid #8e8888;
}
@media screen and (max-width: 479px) {
  .mask-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 550px) {
  .mask-header p {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .mask-content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 991px) {
  .mask-content {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
