.product-section {
  padding: 60px 4vw 90px 4vw;
}
.product-section-main {
  padding-top: 50px;
  color: black;
}
.product-section-product {
  background-color: #ddd;
}
.product-section-product img {
  width: 250px;
  margin: auto;
  padding: 20px 0 20px 0;
  transition: transform 0.5s ease;
}
.product-section-product p {
  padding: 20px 0 0 20px;
  font-weight: bold;
  font-size: 18px;
}
.product-section-product img:hover {
  transform: scale(1.2);
}
.product-section-hr {
  border: 1px solid #8e8888;
  margin: 100px 0 0 0;
}
